@import "../variables";




// ====== Showcase ======

.showcase_container{
	width: calc(100% - 40px);
	// width: 100%;
	height: auto;
	margin: 0 20px;
	display: table;
	z-index: 1;

	.showcase_menu{
		width: 100%;
		height: auto;

		.s_m_item{
			width: calc(25% - 12px);
			height: calc(400px - 12px);
			float: left;
			background-color: $showcase-item-bg-default-color;
			cursor: pointer;

			margin: 6px 6px;


			.s_m_i_image{
				width: 100%;
				height: 100%;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: top center;
				transform: translateZ(20px);

				&.containedcenter{
					background-size: contain;
					background-position: center center;
				}
			}

			.s_m_i_container{
				width: 100%;
				height: calc(100% - 120px);
				padding-top: 120px;
				position: relative;
				top: -100%;
				background: rgba(0,0,0,0.5);    
				opacity: 0;

				.s_m_i_c_title{
					width: calc(100% - 100px);
					margin: 0 50px;
					padding: 0;
					text-align: center;
					font-size: 22pt;
					font-weight: 400;
					font-family: $font-family-sans-serif;
					color: #fff;

				}
				.s_m_i_c_yearandtags{
					text-align: center;
					font-size: 11pt;
					font-weight: bold;
					color: $subtitle-color;
					padding-top: 10px;

					.tag{
						padding: 0px 13px;
						margin: 0px 5px;
						background: $tag-bg-color;
						font-size: 12pt;
						border-radius: 5px;
						color: #000;

					}
				}

			}

			
			
		}
	}
}

