
// Body
$body-bg: #eee;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
// $font-family-sans-serif: "Hind", sans-serif;
$font-family-sans-serif: "Work Sans", sans-serif;
$font-family-serif: "Crimson Text", serif;
$font-size-base: 14px;
$line-height-base: 1.6;

// Colors
$logo-color: #444;
$text-color: #222;

$mainnav-default-color: $text-color;
$mainnav-hover-color: lighten($text-color, 20);
$mainnav-current-color: #fff;
$showcase-item-bg-default-color: #fff;
$showcase-item-bg-hover-color: lighten($body-bg, 5);
$subtitle-color: lighten($text-color, 50);
$tag-bg-color: rgba(0, 0, 0, .75);
$details-view-bg-default-color: #fff;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;
